* {
    margin: 0;
    padding: 0;
}

.top-content {
    background: var(--020-a-18, #020A18);
}

.header_menu {
    width: 100%;
    height: 100px;
    padding-top: 39px;
    padding-bottom: 39px;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.top-img {
    width: 414px;
    height: 415px;
    flex-shrink: 0;
}

.menu-link {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.presentacion {
    margin-top: 110px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;

}

.pres-interactive-text {
    width: 604px;
}

.pres-interactive-text-top {
    margin-top: 59px;
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.pres-interactive-h2 {
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.pres-interactive-text-bottom {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.699999988079071;
}

.pres-interactive-btns {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.btn-top {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    color: var(--ffffff, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pol-in-btn {
    width: 27px;
    height: 26px;
}

.logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px;
    padding: 70px;
}